Package: libacl1-dev
Source: acl
Version: 2.2.52-3
Architecture: amd64
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 221
Depends: libc6-dev | libc-dev, libacl1 (= 2.2.52-3), libattr1-dev (>= 1:2.4.46-8)
Conflicts: acl (<< 2.0.0), acl-dev, kerberos4kth-dev (<< 1.2.2-4)
Replaces: acl-dev
Provides: acl-dev
Section: libdevel
Priority: extra
Homepage: http://savannah.nongnu.org/projects/acl/
Description: Access control list static libraries and headers
 This package contains the static libraries and header files needed
 for developing programs which make use of the access control list
 programming interface defined in POSIX 1003.1e draft standard 17.
