Package: libacl1
Source: acl
Version: 2.2.52-3
Architecture: amd64
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 57
Depends: libattr1 (>= 1:2.4.46-8), libc6 (>= 2.14)
Conflicts: acl (<< 2.0.0), libacl1-kerberos4kth
Section: libs
Priority: required
Multi-Arch: same
Homepage: http://savannah.nongnu.org/projects/acl/
Description: Access control list shared library
 This package contains the libacl.so dynamic library containing
 the POSIX 1003.1e draft standard 17 functions for manipulating
 access control lists.
